<%= will_paginate @messages %>

<% if cookies[:view] == 'thread' %>

<ul>
  <% for message in @messages %>
    <%= render :partial => 'message_thread', :locals => {:message => message.root} %>
  <% end %>
</ul>

<% else %>

<ul>
  <% for message in @messages %>
    <li><%= message_line(message) %></li>
  <% end %>
</ul>

<% end %>

<%= will_paginate @messages %>
