/* @override 
	http://localhost:3000/stylesheets/new_crud.css
	http://localhost:3000/stylesheets/new_crud.css?1231852158
	http://localhost:3000/stylesheets/new_crud.css?1231874452
	http://localhost:3000/stylesheets/new_crud.css?1231915327
	http://localhost:3000/stylesheets/new_crud.css?1231939806
*/

/* @group Main */

body {
	background: url(/images/themes/newcrud/top_landscape.png) repeat-x;
}

.title {
	color: white;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	padding-left: 20px;
}

.container {
	margin: 0 25px;
	background-repeat: repeat-x;
}

.navigation {
	text-align: left;
}

a {
	text-decoration: none;
	color: #123a7f;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #810081;
}

hr {
	height: 3px;
	background-color: #dad6cd;
	border-width: 0;
}

ul {
	padding-left: 20px;
}

.text_field {
	border: 1px solid #fc8414;
	padding: 2px;
	margin: 2px;
}

.button {
	background-color: #4a6594;
	color: white;
	border-width: 2px;
	border-style: solid;
	border-top-color: #96abd6;
	border-left-color: #96abd6;
	border-right-color: #314570;
	border-bottom-color: #314570;
	font-size: 100%;
}

.preview {
	border: 2px solid #fdd3af;
	padding: 5px;
	margin: 5px;
}



/* @end */