<p>
  <h2>Theme:</h2>
  <ul>
    <li><%= link_to 'Default', :action => 'set_theme', :id => 'default' %></li>
    <li><%= link_to 'New Crud', :action => 'set_theme', :id => 'new_crud' %></li>
    <li><%= link_to 'Space', :action => 'set_theme', :id => 'space' %></li>
  </ul>
  
  <h2>Mobile:</h2>
  <ul>
    <li><%= link_to 'Try the iPhone beta', :action => 'iphone', :id => 'true' %></li>
  </ul>
</p>